linkddd {
    color: #032030;
    color: #022b42;
    color: #003554;
    color: #004d74;
    color: #006494;
    color: #006da4;
}

.section-projetos {
    background-color: #006da423;
    padding: 40px 0 40px 0;
}