@import url(/styles/base.css);

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: wrap;
  flex-wrap: wrap;
  background-color: #011859;
  width: 80vw;
  min-height: 30vh;
  margin: auto;
  border-radius: 60px;
  margin-top: 64px;
  box-shadow:
    rgba(0, 0, 0, 0.265) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.img-banner > img {
  max-height: 50vw;
}
.txt-banner {
  font-size: clamp(1.4rem, 4vw, 6rem);
  text-align: center;
  letter-spacing: -1px;
  color: #d3ecfd;
  line-height: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.1;
}

.maquina-escrever::after {
  content: "|";
  margin-left: 9px;
  opacity: 1;
  animation: pisca 0.9s infinite;
}

@media screen and (max-width: 760px) {
  #banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 36px;
  }
  .img-banner > img {
    max-height: 80vw;
    margin-top: -40px;
  }
  .txt-banner {
    margin-top: -40px;
    margin-bottom: 60px;
    font-size: clamp(1.6rem, 6vw, 8rem);
  }
}

@media screen and (max-width: 390px) {
  #banner {
    display: flex;
    align-items: center;
    flex-flow: nowrap;
    flex-wrap: wrap;
    background-color: #011859;
    width: 80vw;
    min-height: 20vh;
  }

  .txt-banner {
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .img-banner > img {
    max-width: 30vh;
  }
}

@media screen and (max-width: 296px) {
  .txt-banner {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }
  .img-banner > img {
    max-width: 20vh;
  }
  #banner {
    background-color: #011859;
    width: 90vw;
    min-height: 30vh;
  }
}
