@import url(/styles/base.css);

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#banner {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
  width: 80%;
  margin: auto;
  border-radius: 60px;
  margin-top: 112px;
  margin-bottom: 144px;
  box-shadow:
    rgba(0, 0, 0, 0.265) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.img-banner > img {
  max-height: 40vw;
}
.maquina-escrever {
  color: var(--primary-color);
}
.txt-banner {
  font-size: clamp(1.4rem, 3vw, 5rem);
  text-align: center;
  letter-spacing: -1px;
  color: var(--primary-color);
  line-height: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.1;
}

.maquina-escrever::after {
  content: "|";
  margin-left: 9px;
  opacity: 1;
  animation: pisca 0.9s infinite;
}

@media screen and (max-width: 760px) {
  #banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 36px;
  }
  .img-banner > img {
    max-height: 80vw;
  }
  .txt-banner {
    margin-top: -40px;
    margin-bottom: 60px;
    font-size: clamp(1.6rem, 6vw, 8rem);
  }
}

@media screen and (max-width: 390px) {
  #banner {
    display: flex;
    align-items: center;
    flex-flow: nowrap;
    flex-wrap: wrap;
    min-height: 20vh;
  }

  .txt-banner {
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .img-banner > img {
    max-width: 30vh;
  }
}

@media screen and (max-width: 296px) {
  .txt-banner {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }
  .img-banner > img {
    max-width: 20vh;
  }
  #banner {
    width: 90vw;
    min-height: 30vh;
  }
}
