@import url(../base.css);

#container-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: var(--secondary-color);
  margin-top: 112px;
  padding: 34px 0 0 0;
}

.list-footer li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  list-style-type: none;
  font-size: 1.1rem;
  color: var(--text-color-secondary);
}

.ul-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 85vw;
  margin: auto;
}

.ul-footer svg {
  width: 56px;
  height: auto;
  padding: 3px;
  border-radius: 12px;
  background-color: rgb(240, 240, 240);
}

.ul-footer svg:hover {
  background-color: rgb(228, 239, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list-footer li a {
  text-decoration: none;
  color: var(--text-color-secondary);
}

.txt-direitos {
  color: var(--text-color-secondary);
  text-align: center;
  font-size: 1.5rem;
  margin: 16px;
}

.footer-contato {
  text-align: center;
  margin-bottom: 12px;
  color: var(--text-color-secondary);
}

/*CELULAR*/
@media screen and (max-width: 480px) {
  .list-footer li {
    gap: 10px;
    margin-bottom: 16px;
    font-size: 1rem;
  }

  .ul-footer {
    flex-wrap: wrap;
    gap: 24px;
    margin: auto;
  }

  .ul-footer svg {
    width: 44px;
  }
  .ul-footer p {
    font-size: 12px;
  }
  .txt-direitos {
    font-size: 1rem;
  }
}
