@import url(../base.css);

nav {
  display: flex;
  flex-flow: nowrap;
  flex-wrap: wrap;
  justify-content: flex-end;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 70px;
}
nav li:first-child {
  margin-right: auto;
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #011859;
}

nav a:hover {
  color: #042275d7;
  transition-duration: 0.9s;
}

nav li {
  display: flex;
  align-items: center;
}

.iconsNavbar {
  fill: #011859;
}

.iconsNavbar:hover {
  fill: #042275d7;
  transform: scale(1.1);
  transition-duration: 0.9s;
}

.btn-hide-sidebar {
  border: none;
  background: transparent;
  margin-left: 12px;
  fill: #011859;
}

.img-logonavbar img {
  max-width: 110px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 280px;
  z-index: 999;
  background-color: rgba(169, 169, 169, 0.295);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 600px) {
  .hideDesktop {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hideMobile {
    display: none;
  }
  .btn-show-sidebar {
    border: none;
    background: transparent;
    margin-right: 24px;
    fill: #011859;
  }

  .img-logonavbar img {
    max-width: 100px;
  }

  nav a:hover {
    color: #042275d7;
    transition-duration: 0.9s;
  }
}

@media screen and (max-width: 320px) {
  .hideMobile {
    display: none;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80vw;
    z-index: 999;
    background-color: rgba(169, 169, 169, 0.295);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
  }

  .img-logonavbar img {
    max-width: 80px;
  }
}
