@import url(../base.css);

nav {
  display: flex;
  margin-top: 0;
  justify-content: center;
}

nav ul {
  width: 90vw;
  list-style: none;
  display: flex;
  align-items: center;
  position: fixed;
  gap: 16px;
  background-color: #ffffffc7;
  backdrop-filter: blur(40px);
  z-index: 1;
  border-radius: 0px 0px 20px 20px;
}

nav li {
  height: 104px;
}
nav li:first-child {
  margin-right: auto;
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #011859;
}

nav a:hover {
  color: #042275d7;
  transition-duration: 1s;
}

nav li {
  display: flex;
  align-items: center;
}

.iconsNavbar {
  fill: #19191a;
  margin-left: 30px;
}

.iconsNavbarLinke {
  fill: #187096;
  margin-right: 3vw;
}

.iconsNavbar:hover {
  fill: #181818d7;
  transform: scale(1.1);
  transition-duration: 0.9s;
}

.iconsNavbarLinke:hover {
  fill: #0b6a96;
  transform: scale(1.1);
  transition-duration: 0.9s;
}

.btn-hide-sidebar {
  border: none;
  background: transparent;
  margin-left: 85vw;
}

.img-logonavbar img {
  max-height: 36px;
  margin-left: 3vw;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 2;
  background-color: #d3ecfd4b;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  backdrop-filter: blur(40px);
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.sidebar a {
  color: #011859;
  font-size: 1.8rem;
  font-weight: bold;
  margin: auto;
}
.sidebar svg {
  margin-top: 64px;
  fill: #011859;
}

@media screen and (min-width: 760px) {
  .hideDesktop {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .hideMobile {
    display: none;
  }
  .btn-show-sidebar {
    border: none;
    background: transparent;
    margin-right: 24px;
    fill: #011859;
  }
  nav a:hover {
    color: #042275d7;
    transition-duration: 0.9s;
  }
}

@media screen and (max-width: 460px) {
  nav {
    display: flex;
    margin-top: 0;
    justify-content: center;
  }
  nav ul {
    width: 100vw;
    list-style: none;
    display: flex;
    align-items: center;
    position: fixed;
    gap: 16px;
    background-color: #ffffffc7;
    backdrop-filter: blur(40px);
    z-index: 1;
    border-radius: 0px 0px 16px 16px;
  }

  nav li {
    height: 84px;
  }
}
