@import url(../base.css);

nav {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 24px;
}

nav ul {
  width: 80vw;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ecf8ff;
  border-radius: 32px;
  box-shadow:
    rgba(0, 0, 0, 0.057) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

nav li {
  height: 80px;
}
nav li:first-child {
  margin-right: auto;
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #011859;
}

nav a:hover {
  color: #042275d7;
  transition-duration: 1s;
}

nav li {
  display: flex;
  align-items: center;
}

.iconsNavbar {
  fill: #19191a;
  margin-left: 30px;
}

.iconsNavbarLinke {
  fill: #187096;
}

.iconsNavbar:hover {
  fill: #181818d7;
  transform: scale(1.1);
  transition-duration: 0.9s;
}

.iconsNavbarLinke:hover {
  fill: #0b6a96;
  transform: scale(1.1);
  transition-duration: 0.9s;
}

.btn-hide-sidebar {
  border: none;
  background: transparent;
  margin-left: 60vw;
}

.img-logonavbar img {
  max-height: 36px;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100vh;
  min-width: 70vw;
  z-index: 999;
  background-color: #d3ecfd4b;
  border-radius: 32px 0px 0px 32px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(40px);
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.sidebar a {
  color: #011859;
  font-size: 1.8rem;
  font-weight: bold;
  margin: auto;
}
.sidebar svg {
  margin-top: 64px;
  fill: #011859;
}
.sidebar .btn-hide-sidebar svg {
  fill: #011859;
  width: 30px;
}

@media screen and (min-width: 760px) {
  .hideDesktop {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .hideMobile {
    display: none;
  }
  .btn-show-sidebar {
    border: none;
    background: transparent;
    margin-right: 24px;
    fill: #011859;
  }
  nav a:hover {
    color: #042275d7;
    transition-duration: 0.9s;
  }
}
