@import url(../base.css);

.section-title {
  margin-bottom: -16px;
  z-index: 1;
  text-align: center;
  font-size: 1.4rem;
  background-color: #011859;
  padding: 12px;
  border-radius: 8px 16px 8px 16px;
  color: var(--text-color-secondary);
  width: 250px;
}
