@import url(../base.css);
@import url(./section-title.css);

#container-technology {
  width: 80vw;
  margin: auto;
  margin-top: 144px;
  margin-bottom: 144px;
}

.lista-tecnologias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  background-color: var(--background-color);
  min-height: 240px;
  list-style: none;
  padding: 32px;
  border-radius: 20px;
}

.section-title-ligth {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.lista-tecnologias svg {
  width: 96px;
  height: auto;
  background-color: var(--background-color);
  border-radius: 16px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  transition: all 0.8s ease-in-out;
}

.lista-tecnologias svg:hover {
  transform: scale(1.07);
  box-shadow:
    rgba(50, 50, 93, 0.121) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.152) 0px 18px 36px -18px inset;
  cursor: pointer;
}

/*full screen*/
@media screen and (min-width: 1201px) {
  .lista-tecnologias {
    gap: 50px;
    min-height: 240px;
    list-style: none;
    padding: 28px;
    border-radius: 26px;
  }
}

/*CELULAR*/
@media screen and (max-width: 480px) {
  .section-title-ligth {
    background-color: var(--background-color);
    color: var(--secondary-color);
  }
  .lista-tecnologias {
    gap: 10px;
    padding: 24px;
  }

  .lista-tecnologias svg {
    width: 96px;
    height: auto;
    background-color: var(--background-color);
    border-radius: 16px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    transition: all 0.7s ease-in-out;
  }
}
