@import url(../base.css);
@import url(./section-title.css);

#container-technology {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 144px;
  margin-bottom: 144px;
}

.section-tecnologias-h2 {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  left: 50%;
  top: -26px;
  transform: translate(-50%, 0);
  padding: 12px 22px;
  width: 300px;
  border-radius: 22px 6px;
  z-index: 1;
  text-align: center;
}

.lista-tecnologias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  background-color: var(--secondary-color);
  min-height: 240px;
  list-style: none;
  padding: 32px;
  border-radius: 22px 64px;
}

.lista-tecnologias svg {
  width: 96px;
  height: auto;
  background-color: #f8f9fb;
  border-radius: 16px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.193) 0px 4px 12px;
  transition: all 0.8s ease-in-out;
}

.lista-tecnologias svg:hover {
  transform: scale(1.07);
  box-shadow:
    rgba(50, 50, 93, 0.195) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.117) 0px 18px 36px -18px inset;
  cursor: pointer;
}

/*full screen*/
@media screen and (min-width: 1201px) {
  .lista-tecnologias {
    gap: 50px;
    min-height: 240px;
    list-style: none;
    padding: 28px;
  }
}

/*CELULAR*/
@media screen and (max-width: 480px) {
  #container-technology {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 96px;
    margin-bottom: 96px;
  }
  .section-tecnologias-h2 {
    width: 200px;
    margin-top: -16px;
    border-radius: 22px 6px;
  }
  .lista-tecnologias {
    min-height: 240px;
    border-radius: 12px 48px;
  }
  .lista-tecnologias svg {
    width: 64px;
    height: auto;
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    transition: all 0.7s ease-in-out;
  }
}
